{% extends 'main.html' %}
{% load static %}

{% block content %}

<div class="about" id="About" style="margin-top: 300px;">
    <div class="about_main">
        <div class="about_text">
            <h1>About <span>Us</span></h1>
            <h3>Why choose Us</h3>
            <p>At Fruits Mania, we offer a simple and convenient way to enjoy fresh, high-quality fruits delivered
                right to your door. With a wide variety of handpicked, nutritious fruits at affordable prices, we
                ensure every order is carefully packed and delivered properly. We deliver only the freshest and best
                quality fruits. Our commitment to excellent customer service, eco-friendly packaging, and
                sustainable sourcing means you can shop with confidence and enjoy the best nature has to offer,
                hassle-free.
            </p>
        </div>
    </div>

</div>
{% endblock%}