{% extends 'main.html' %}
{% load static %}

{% block content %}  
    <div class="contact" id="Contact" style="margin-top: 100px;">
        <h1>Contact<span>us</span></h1>
        <div class="container">
            <div class="container_box">
                <div class="left">
                    <div class="right">
                        <input type="text" class="field" placeholder="Your Name">
                        <input type="text" class="field" placeholder="Your Email">
                        <input type="text" class="field" placeholder="Phone">
                        <textarea placeholder="Message" class="field"></textarea>
                        <button class="contact_btn">Send</button>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}