{% extends 'dashboard.html' %}
{% load static %}

{% block content %}
<div class="main-content">
            <div class="header">
                <h1>Welcome to Fruits Mania Dashboard</h1>
            </div>
            <!-- Metrics Section -->
            <div class="metrics">
                <div class="metric-card">
                    <h3>Total Users</h3>
                    <p>{{totalUsers}}</p>
                </div>
                <div class="metric-card">
                    <h3>Total Sales</h3>
                    <p>Rs {{totalSales}}</p>
                </div>
                <div class="metric-card">
                    <h3>Total Products</h3>
                    <p>{{totalProduct}}</p>
                </div>
            </div>
            <!-- Recent Orders -->
            <div class="card">
                <h2>Recent Orders</h2>
                <div class="recent-orders">
                    <table>
                        <thead>
                            <tr>
                                <th>ORDERID</th>
                                <th>Customer Name</th>
                                <th>Total Order</th>
                                <th>Payment Method</th>
                                <th>Total Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                            <tr>
                                <td>{{ order.id }}</td>
                                <td>{{ order.created_at }}</td>
                                <td>Rs.{{ order.total_price }}</td>
                                <td>{{ order.shipping_address }}</td>
                                <td>{{ order.payment_method }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Product Management -->
            <div class="card">
                <h2>Product Management</h2>
                <div class="product-management">
                    <div class="product-list">
                        <table>
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Fruits Name</th>
                                    <th>Image</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Description</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for product in products %}
                                <tr>
                                    <td>{{product.id}}</td>
                                    <td><img src="{{ product.image.url }}" alt="{{ product.name }}" width="100"></td>
                                    <td>{{ product.name}}</td>
                                    <td>{{ product.price}}</td>
                                    <td>{{ product.stock}}</td>
                                    <td>{{ product.description }}</td>
                                    <td>
                                        <a href="{% url 'edit_product' product.id %}" style="text-decoration: none; color: black;">Edit</a>
                                    </td>
                                    <td>
                                        <a href="{% url 'remove_product' product.id %}" style="text-decoration: none; color: black;">Delete</a>
                                    </td>
                                </tr>
                                {% endfor %}
                               
                            </tbody>
                        </table>
                    </div>
                    <div class="actions">
                        <a href="{% url 'add_product' %}" class="add-product">Add New Product</a>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}