{% extends 'dashboard.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/edit.css' %}">
    {% endblock %}
{% block content %}
<div class="main-content">
    <div class="card">
        <h2>Edit Product</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                <label for="name">Fruit Name:</label>
                <input type="text" id="name" name="name" value="{{ product.name }}" required>
            </div>
            <div>
                <label for="price">Price:</label>
                <input type="number" id="price" name="price" value="{{ product.price }}" step="0.01" required>
            </div>
            <div>
                <label for="stock">Quantity:</label>
                <input type="number" id="stock" name="stock" value="{{ product.stock }}" required>
            </div>
            <div>
                <label for="description">Description:</label>
                <textarea id="description" name="description" required>{{ product.description }}</textarea>
            </div>
            <div>
                <label for="image">Image:</label>
                <input type="file" id="image" name="image">
                {% if product.image %}
                    <p>Current Image: <img src="{{ product.image.url }}" alt="{{ product.name }}" width="100"></p>
                {% endif %}
            </div>
            <button type="submit">Save Changes</button>
        </form>
    </div>
</div>
{% endblock %}