{% extends 'main.html' %}
{% load static %}

{% block content %}
<div class="main">
    <div class="men_text">
        <h1>Fruits <span>Mania</span></h1>
        <h2>Available here: <br><span class="typing"></span></h2>
    </div>
    <div class="main_image">
        <img src="{% static 'img/image.png.png' %}" alt="">
    </div>
</div>
<p>Fruits are natural foods that come from plants.
    They are often sweet or sour and are packed with vitamins, minerals, and fiber, which help keep our bodies
    healthy.
    Fruits grow on trees, bushes, or vines and are usually eaten raw, although they can also be cooked or dried.
    Common examples of fruits include apples, bananas, oranges, berries, and mangoes.
    Eating a variety of fruits is good for overall health, as they provide essential nutrients and help keep our
    immune system strong.</p>

<div class="main_btn">
    <a href="#">Order Now</a>
    <i class="fa-solid fa-angle-right"></i>
</div>




</section>
<script src="{% static 'js/script.js' %}"></script>


<div class="available" id="Available">
    <h1><span>Available</span></h1>
    <div class="av_box">

        {% for fruit in fruits %}
        <div class="av_card" style="cursor: pointer;">
            <div class="av_image">
                <img src="{{ fruit.image.url }}" alt="{{ fruit.name }}">
            </div>
            <div class="av_info">
                <h2>{{ fruit.name }}</h2>
                <h4>{{ fruit.description }}</h4>
                <h3>Rs.{{ fruit.price }} per kg</h3>
                <a href="{% url 'add_to_cart' fruit.id %}" class="av_btn">Add to cart</a>
            </div> <!-- closing av_info div -->
        </div>
        {% endfor %}

    </div>
</div>


{% endblock %}