{% extends 'main.html' %}
{% load static %}

{% block content %}

    <div class="main">
        <div class="men_text" style="margin-right: 700px;margin-top: -300px;">
            <h1>Fruits <span>Mania</span></h1>
        </div>
        <div class="main_image" style="margin-right: 200px;">
            <img src="{{ fruit.image.url }}" alt="{{ fruit.name }}" class="product-image" style="width: 700px; height: 700px;">
        
        </div>
    </div>
    <h3 class="product-description" style="margin-top: -450px; margin-bottom: 200px; margin-left: 200px; width:650px; font-size: 28px;">{{ fruit.description }}</h3> 
    <div class="main_btn">
        <a href="{% url 'add_to_cart' fruit.id %}" class="order-now-btn">Add to Cart</a>
        <i class="fa-solid fa-angle-right"></i>
    </div>



<div class="available" id="Available" style="margin-top: 150px;">
    <h1><span>Available</span></h1>
    <div class="av_box">

        {% for fruit in fruits %}
        <div class="av_card" style="cursor: pointer;">
            <div class="av_image">
                <img src="{{ fruit.image.url }}" alt="{{ fruit.name }}">
            </div>
            <div class="av_info">
                <h2>{{ fruit.name }}</h2>
                <h4>{{ fruit.description }}</h4>
                <h3>Rs.{{ fruit.price }} per kg</h3>
                <a href="{% url 'add_to_cart' fruit.id %}" class="av_btn">Add to cart</a>
            </div> <!-- closing av_info div -->
        </div>
        {% endfor %}

    </div>
</div>


{% endblock %}